@media (max-width: 1300px) {
    .header_content img {
        width: 420px;
    }

    /* Features */
    .features_items {
        gap: 20px;
    }

    /* Why us */
    .whyus_content .left .whyus_img {
        width: 320px;
    }

    .whyus_content .left .whyus_img1 {
        height: 500px;
        margin-bottom: 30px;
    }

    .whyus_content .choosen_items .choose_item p:first-child {
        font-size: 22px;
    }

    .whyus_content .choosen_items .choose_item p:last-child {
        font-size: 14px;
    }

    .choosen_items {
        grid-column-gap: 12px;
        grid-row-gap: 14px;
    }

    .whyus_content .left h2 {
        font-size: 52px;
        margin-bottom: 60px;
    }

    /* Offer */
    .offer_svg {
        height: 860px;
    }
}

@media (max-width: 1028px) {

    /* Navbar */
    .navbar_content {
        padding: 18px 2%;
    }

    /* Header */
    .header_content {
        padding: 40px 2% 80px;
    }

    .header_text h1 {
        font-size: 40px;
    }

    .span_animated {
        width: 290px;
        height: 110px;
        left: 150px;
    }

    .span_animated span {
        font-size: 38px;
    }

    /* Offer */
    .offer_content {
        padding: 150px 2%;
    }

    .offer_info h3 {
        font-size: 50px;
        width: 74%;
    }

    /* Whyus */
    .whyus_content {
        padding: 160px 2%;
        flex-direction: column;
    }

    .whyus_content .left div {
        display: flex;
        gap: 10px;
    }

    .whyus_content .left .whyus_img1,
    .whyus_content .left .whyus_img2 {
        width: 100%;
    }

    .whyus_content .left .whyus_img1 img {
        height: auto;
        width: 100%;
    }

    /* About */
    .about_content {
        padding: 118px 2%;
    }

    .about_info h2 {
        font-size: 50px;
    }

    .about-img {
        width: 430px;
        height: 380px;
    }

    /* Faq container */
    .faq-container {
        padding: 160px 2%;
    }

    /* Footer */
    .footer_content {
        padding: 100px 2% 30px;
    }

    /* Detail features */
    .features_items {
        gap: 10px;
    }

    .features_content,
    .projects_content {
        padding: 100px 2%;
    }

    /* Detail Header */
    .header_dtl_content {
        padding: 150px 2% 150px;
    }
}

@media (max-width: 868px) {

    /* Header */
    .header_content {
        flex-direction: column;
        gap: 40px;
        align-items: start;
    }

    /* Detail Featured */
    .features_items {
        flex-direction: column;
    }

    /* Offer */
    .offer_svg {
        display: none;
    }

    .offer_info .top,
    .offer_info .bottom {
        padding-left: 0;
    }

    .offer_info .top a {
        right: 0;
        top: 14px;
    }

    .offer_info a {
        margin-top: 28px;
    }

    .offer_info .top {
        margin-bottom: 140px;
    }

    /* Why us */
    .whyus_content {
        padding: 100px 2%;
    }
}

@media (max-width: 768px) {

    /* Navbar */
    .nav_items,
    .nav_contact {
        display: none;
    }

    .sidebar_mobile {
        display: block;
    }

    /* Header */
    .header_content img {
        width: 100%;
    }

    /* Offer */
    .offer_info a {
        position: relative;
        margin-top: 20px;
    }

    /* Faq */
    .faq-container h2 {
        font-size: 38px;
    }

    /* Detail Features */
    .section_info {
        flex-direction: column;
    }

}


@media (max-width: 640px) {

    /* Header */
    .header_text h1 {
        font-size: 30px;
    }

    .span_animated span {
        font-size: 28px;
    }

    .span_animated {
        width: 200px;
        height: 80px;
        left: 100px;
    }

    .span_animated .circle,
    .span_animated .rentangle {
        border: 6px solid var(--accent);
    }

    .span_animated .rentangle {
        width: 90%;
        height: 76%;
    }

    .header_content p {
        font-size: 16px;
    }

    .header_content .left {
        width: 100%;
    }

    .whatch_video span {
        display: none;
    }

    .header_btns {
        gap: 12px;
    }

    /* About us */
    .about_info_content {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        height: 320px;
    }

    .about_content h3 {
        font-size: 24px;
        margin: 0 auto 160px;
    }

    .about_info p {
        font-weight: 500;
    }

    .about_info h2 {
        font-size: 38px;
    }

    /* Offer */
    .offer_content {
        padding: 100px 2%;
    }

    .offer_info h3 {
        font-size: 32px;
    }

    /* Faq */
    .faq-container {
        padding: 100px 2%;
    }

    .faq-container h2 {
        font-size: 22px;
    }

    .faq-question {
        font-size: 16px;
    }

    .faq-question .arrow svg {
        width: 14px;
    }

    .faq-answer p {
        font-size: 14px;
    }

    .faq-container h2 {
        margin: 0 auto 50px;
    }

    /* Why us  */
    .whyus_content .left .whyus_img1,
    .whyus_content .left .whyus_img2 {
        height: 190px;
        border-radius: 6px;
    }

    .whyus_content .left h2 {
        font-size: 30px;
        margin-bottom: 22px;
    }

    .choosen_items {
        grid-template-columns: repeat(1, 1fr);
    }

    .whyus_content .choosen_items .choose_item p:first-child {
        height: auto;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .whyus_content .choosen_items .choose_item {
        border-radius: 12px;
        height: auto;
        padding: 34px 16px;
    }

    .whyus_content .choosen_items .choose_item p:last-child {
        font-size: 12px;
    }

    /* Footer */
    .footer_content {
        padding: 40px 2% 30px;
    }

    .footer_content {
        flex-direction: column;
        gap: 30px;
    }

    .footer_content div:first-child {
        order: 2;
    }

    .footer_items {
        order: 1;
    }

    .footer_items ul {
        flex-direction: column;
        gap: 16px
    }

    /* Detail Features */
    .features_item {
        border-radius: 18px;
        height: 450px;
        padding: 60px 20px;
    }

    .features_item p,
    .section_info p {
        font-size: 15px;
    }

    .section_info h3 {
        font-size: 34px;
    }

    .section_info {
        gap: 16px;
    }

    /* Detail Header */

    .header_dtl_content p {
        font-size: 14px;
    }

    #next_btn_projects,
    #prev_btn_projects {
        width: 30px;
        height: 30px;
    }

    #prev_btn_projects {
        left: 0;
    }

    #next_btn_projects {
        right: 0;
    }

}